{% load static %}
{% load crispy_forms_tags %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon"  href="/static/css/fb1.png" type="image/gif" sizes="16x16">
        <title>facebook</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/fb.css' %}">
       
    </head>
    <body>
        <nav class="navbar navbar-default" >

            <div class="container-fluid" style="background-color: #4267b2;">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" style="color:white;">facebook</a>
                </div>
               
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                      <li ><a href="{% url 'profile' %}"class="top-menu" style="color: white;">{{ user.username }}</a></li>
                      <li><a href="{% url 'logout' %}" class="top-menu" style="color:white;">logout</a></li>


                     {% else %}
                         <li><a href="{% url 'login' %}" class="top-menu" style="color: white;">login</a></li>
                         <li><a href="{% url 'register' %}" class="top-menu" style="color: white;">Register</a></li>
                    {% endif %}
                </ul>
            </div>
    </nav>
 <div class="container">
              <div class="row">
            <div class="col-md-3"></div>
                       
                <div class="col-md-6">
                     
                    {% if messages %}
                       {% for message in messages %}
                       <div class="alert alert-{{ message.tags }}">
                           {{ message }}
                       </div>
                       {% endfor %}
                    {% endif %}

                      <div class="content-section" >
        
                    <form method="post">
                      {% csrf_token %}
                        {{ form|crispy }}
                       <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
           </div>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
               
                     

  

    <div class="footer">
          <span>facebook</span>
        </div>
    
  
<script>
function myFunction() {
  var x = document.getElementById("id_password1");
  var y = document.getElementById("id_password2");
  if (x.type === "password" && y.type === "password") {
    x.type = "text";
    y.type = "text";
  } else {
    x.type = "password";
    y.type = "password";
  }
}
</script>
</body>

</html>