{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon"  href="/static/css/fb1.png" type="image/gif" sizes="16x16">
        <title>facebook</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/fb.css' %}">
       
    </head>
    <body>
        <nav class="navbar navbar-default" >

            <div class="container-fluid" style="background-color: #4267b2;">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" style="color:white;">facebook</a>
                </div>
               
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                      <li ><a href="/"class="top-menu" style="color: white;">{{ user.username }}</a></li>
                      <li><a href="{% url 'logout' %}" class="top-menu" style="color:white;">logout</a></li>


                     {% else %}
                         <li><a href="{% url 'login' %}" class="top-menu" style="color: white;">login</a></li>
                         <li><a href="{% url 'register' %}" class="top-menu" style="color: white;">Register</a></li>
                    {% endif %}
                </ul>
            </div>
    </nav>
  
       
        <div class="container">
            <div class="row">
               <div class="col-md-3 sidenav">
                {% if user.is_authenticated %}
               
                   <h4>{{ user.username }}</h4>
                    <ul class="nav nav-pills nav-stacked">
                     <li class="active"><a href="#section1">Home</a></li>
                     <li><a href="#section2">Messanger</a></li>
                     <li><a href="#section3">Friends</a></li>
                     <li><a href="#section3">Photos</a></li>
                      
                      <h5>shortcuts</h5>
                      <li class=""><a href="#section1">Helath and inspriational videos</a></li>
                     <li><a href="#section2">Messanger</a></li>
                     <li><a href="#section3">Friends</a></li>
                     <li><a href="#section3">Photos</a></li>
                      </ul><br>
                      {% endif %}

                </div>
                
                <div class="col-md-6">
                     
                    {% if messages %}
                       {% for message in messages %}
                       <div class="alert alert-{{ message.tags }}">
                           {{ message }}
                       </div>
                       {% endfor %}
                    {% endif %}
                <h2>You have been logged out</h2>
    <div class="border-top">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
                </div>
                <div class="col-md-3">
                  {% if user.is_authenticated %}
                    <div class="well">
                      <p>Stories</p>
                      <a href="#">News <span class="badge">5</span></a><br>
                      <a href="#">Comments <span class="badge">10</span></a><br>
                      <a href="#">Updates <span class="badge">2</span></a>
                      
                      <p><strong>Paris</strong></p>
                      <p>Fri. 27 November 2015</p>
                    
                    </div>
                    {% endif %}
                  </div>
                </div>
               <!--  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3 well">
                    <h2>Badges on Buttons</h2>
                    <button type="button" class="btn btn-primary">Primary <span class="badge">7</span></button><br>
                    <button type="button" class="btn btn-success">Success <span class="badge">3</span></button><br>    
                    <button type="button" class="btn btn-danger">Danger <span class="badge">5</span></button> <br>       
                  </div>

                      

                </div> -->
                     
                    

                </div>
                
            </div>
        </div>
       {% if user.is_authenticated %}


       {% else %}
        <div class="footer">
          <span>facebook</span>
        </div>
       {% endif %}
    </body>


</html>