{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon"  href="/static/css/fb1.png" type="image/gif" sizes="16x16">
        <title>facebook</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/fb.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/infinite.min.js' %}"></script>
          

     <style type="text/css">
  .fa {
  padding: 30px;
  font-size: 30px;
  width: 90px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}




.fa-instagram {
  background: #125688;
  color: white;
}



.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}
</style>
       <script type="text/javascript">
        function showcomments(value){
          $(".comment"+value).toggle()
         }

        function upload() {
         $("#upload").show()
        }
       </script>
      
       <script type="text/javascript">
        function showshare(value){
          $(".share"+value).toggle()
         }
       </script>


    </head>
    <body>
     <!--  <script type="text/javascript">
        $(document).ready(function(event){
          $(document).on('click','#like',function(event){
            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
              type: 'POST',
              url: '{% url "like_post" %}',
              data: {'id':pk,'csrfmiddlewaretoken': '{{ csrf_token }}'},
              datatype: 'json',
              success:function(response){
                $('#like-section').html(respone['form'])
                console.log($('#like-section').html(respone['form']))
              },
              error:function(rs,e){
                console.log(rs.responeText)
              }
            })
          })
        })

      </script> -->
      <!-- navbar starts -->
        <nav class="navbar navbar-default" >

            <div class="container-fluid" style="background-color: #4267b2;">
                <div class="navbar-header">
                    <a class="navbar-brand"  href="{% url 'post_list' %}" style="color:white;">facebook</a>
                </div>
                    <form class="navbar-form navbar-left" action="{% url 'search' %}" autocomplete="off">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                      </div>
                      <button type="submit" class="btn btn-default">Search</button>
                    </form>
               
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}

                    
                      <li ><a href="{% url 'profile' %}"class="top-menu" style="color: white;padding: 12px;"><img class="img-circle" src="{{ user.profile.image.url }}" height="30px" width="35px" />&nbsp{{ user.username }}</a></li>
                       <li><a href="{% url 'edit_profile' %}" class="top-menu" style="color:white;" >Edit profile</a></li>

                      <li><a href="{% url 'logout' %}" class="top-menu" style="color:white;" >logout</a></li>


                     {% else %}
                         <li><a href="{% url 'login' %}" class="top-menu" style="color: white;">login</a></li>
                         <li><a href="{% url 'register' %}" class="top-menu" style="color: white;">Register</a></li>
                    {% endif %}
                </ul>
            </div>
    </nav>
  
       
        <div class="container">
            <div class="row">
               <div class="col-md-3 sidenav">
                {% if user.is_authenticated %}
               
                   <h4>{{ user.username }}</h4>
                    <ul class="nav nav-pills nav-stacked">
                     <li class="active"><a href="{% url 'post_list' %}">Home</a></li>
                     <li><a href="{% url 'friends_list' %}">Friends ({{friends.count}})</a></li>
                     <li><a href="#section2">Messanger</a></li>
                     <li><a href="#section3">Photos</a></li>
                      
                      <h5>shortcuts</h5>
                      <li class=""><a href="">Helath and inspriational videos</a></li>
                     <li><a href="#section2">Messanger</a></li>
                     <li><a href="#section3">Friends</a></li>
                     <li><a href="#section3">Photos</a></li>
                      </ul><br>
                      {% endif %}

                </div>
                
                <div class="col-md-6">
                  <!-- HTML  form to create new post -->

                    {% if user.is_authenticated %}
                     <form name="myform" method="POST" action="{% url 'create_post' %}" autocomplete="off" enctype="multipart/form-data">  
                        {% csrf_token %}
                       <input id="post"  type="text" name="post"  placeholder="  write something here !!!" /><br><br>
                        <label><span class="glyphicon glyphicon-picture" style="font-size: xx-large;color: grey; " onclick="upload()"></span><input type="file" name="myfile" id = "upload" style="display: none;"></label>
                       <button style = "float: right;" class="btn btn-primary">post</button>
                      
                    </form> 

                    <br><br>
                    {% endif %}
                     
                    {% if messages %}
                       {% for message in messages %}
                       <div class="alert alert-{{ message.tags }}">
                           {{ message }}
                       </div>
                       {% endfor %}
                    {% endif %}
                 




 <div class="infinite-container">
  <!-- for loop to displays posts -->
    {% for post in posts %}
     <div class="infinite-item">
              <div class="box">
                   <h3 style="font-family: 'Lobster', cursive;"><img class="img-circle" src="{{ post.author.profile.image.url }}" height="30px" width="35px" />
                   &nbsp{{ post.author }}</h3>
                   <small class="date"> at {{ post.created_date }}</small><hr>
                   <p>{{ post.title }}</p>
                   {% if post.post_pics %}

                     <img src="/media/{{ post.post_pics }}" style="width:-webkit-fill-available;" />

                   {% endif %}

                   <hr>
                   <div class="row">
                   <div class="col-xs-3 col-md-4">
                  
                    <form action="{% url 'like_post' %}" method="POST">
                        {% csrf_token %}
                          <button type="submit" name="post_id" value="{{post.id}}" style="border: none;background-color: #ffffff;color:black;"><b><span class="glyphicon glyphicon-thumbs-up"></span></b></button>{{post.likes.count}}
                   </form>
                    <!-- <p style="font-size: 18px;"><span class="glyphicon glyphicon-thumbs-up"></span></p> --></div>
                    <div class="col-xs-5 col-md-5"><label><span onclick="showcomments({{post.pk}})" >comments : {{post.comments.count}}
                    </span></label></div>
                    <div class="col-xs-4 col-md-3"><span  onclick="showshare({{post.pk}})"class="glyphicon glyphicon-share-alt">share
                    </span></div>   
                    </div>
                    
                    

              </div>


            <div  class="share{{post.pk}}" style="display: none">
<div class="box" >
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>


<a href="#" class="fa fa-instagram"></a>

<a href="#" class="fa fa-snapchat-ghost"></a>
<a href="#" class="fa fa-skype"></a></div>
</div>

              <div class="comment{{post.pk}}" style=" display: none;">
           <div class="commentbox" >

            <!-- for loop to display comments -->
            {% for comment in post.comments.all %}
                 
                  <div class="comment">
                    <small class="date">{{ comment.created_date }}</small>
                    <p>comment by : <strong>{{ comment.author }}</strong></p>
                    
                    <p>{{ comment.text|linebreaks }}</p>
                  </div>
                   
          {% empty %}
                <p>No comments here yet :(</p>
          {% endfor %}
          
          <!-- HTML form to write comments to posts -->
          <form name="myform" method="POST" action="{% url 'create_comment'  pk=post.pk %}" autocomplete="off" enctype="multipart/form-data">  
                        {% csrf_token %}
                       <input id="post"  type="text" name="comment"  placeholder="  write comments here !!!" /><br><br>
                     
                       <button style = "float: right;" class="btn btn-primary">comment</button>
                      
                    </form> 
        </div>
         </div>

       <br>
     </div>
    {% endfor %}
  </div>

   {% if posts.has_next %}
    <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
  {% endif %}


   <div class="loading" style="display: none;">
    Loading...
  </div>
<!-- JS for Paginations -->
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>

    

                </div>
                <div class="col-md-3">
                  {% if user.is_authenticated %}
                    <div class="well">

                      <!-- <h2>Add Friends</h2>
                   
                      {% for user in users %}
                          {% if not user in friends %}
                        <a href="{% url 'view_profile_with_pk'  pk=user.pk %}">
                         <h4> <img class="img-circle" src="{{ user.profile.image.url }}" height="30px" width="35px" />&nbsp{{user.username}}<a href="{% url 'change_friends' operation='add' pk=user.pk %}">
                          <button type="button" class="btn btn-success btn-xs">Add Friend</button></a>
                        </h4></a>

                   
                      
                          {% endif %}
                      
                    {% endfor %} -->
                    <h2>Friends list</h2>
                     {% for friend in friends %}
                    <a href="{% url 'view_profile_with_pk'  pk=friend.pk %}"><h4> <img class="img-circle" src="{{ friend.profile.image.url }}" height="30px" width="35px" />&nbsp{{friend.username}} <!--  <a href="{% url 'change_friends' operation='remove' pk=friend.pk %}">
                       <button type="button" class="btn btn-default  btn-xs">Remove Friend</button>
                    </a>  --></h4></a>

                    
                   
                    {% endfor %}
                    </div>
                  {% endif %}
              
                  </div>
                </div>
              
                </div>
                
            </div>

        </div>
       {% if user.is_authenticated %}


       {% else %}
        <div class="footer">
          <span>facebook</span>
        </div>
       {% endif %}
       
    </body>


</html>